body{
    background-color: black;
    opacity: 0.9;
    font-family: Helvetica;
    color: seashell;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
    position: fixed;
    background-color: black;
}

.logo{
    margin-left: 10px;
    height: 50px;
    margin-top: 10px;
}

.menu li{
    display: inline-block;
    padding: 0 30px;
    font-size: 22px;
    text-decoration: underline;
    color: seashell;
}
a:link {
    color:seashell;
}
a:visited {
    color:seashell;
}
a:hover {
    color:seashell;
}
a:active {
    color:seashell;
}



#mission {
    height: 700px;
    width: 1200px;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.text {
    font-size: 22px;
    background-color: black;
    width: 100%;
    text-align: center;
    font-family: Helvetica;
}

.tea-types{
    width: 1000px;
    margin: auto;   
}

.tea-types h3 {
    text-align: center;
    font-size: 25px;
}
.tea-types h2 {
    font-size: 30px;
}
.container img {
    height: 200px;
    width: 300px;
}
.container p {
    padding: 10px;
    text-align: center;
}
.teas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container {
    flex-shrink: 1;
}

#locations {
    background-color: blue;
    height: 500px;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}
#locations h2 {
    padding-top: 100px;
    text-align: center;
    margin: 0 auto;
    
}
.portland{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    margin: 0 auto;
}
.address {
    width: 300px;
    background-color: black;
    opacity: 1;
    text-align: center;
    margin:20px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 1;
}
.end-message {
    text-align: center;
    height: 200px;
}
.copyright {
    text-align: left;
    margin-left: 20px;
}