@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}
.wrapper {
    display: flex;
    position: relative;
}
.wrapper #nav-bar {
    position: fixed;
    width: 220px;
    height: 100%;
    background-color: #4b4276;
    padding: 30px 0;
}
.wrapper #nav-bar h2 {
    text-align: center;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}
.wrapper #nav-bar ul li {
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
    list-style: none;
}
.wrapper #nav-bar ul li a {
    display: block;
    color: #bdb8d7;
    font-size: 20px;
}
.wrapper #nav-bar ul li:hover {
    background: #594f8d;
}
.wrapper #nav-bar ul li a:hover{
    color: #fff;
}
.wrapper #main-doc{
    width: 100%;
    margin-left:220px;
}
#main-doc:not(h2) {
    font-size: 20px;
}
.main-section {
    padding: 20px;
}
.main-section h1 {
    border-bottom: 1px solid black;
    text-align: center;
    padding-bottom: 5px;
}
.introduction-text {
    padding-top:10px;
}
#introduction ul {
    padding-top:20px;
    padding-inline-start: 40px;
}
#introduction ul li {
    padding-top:20px;
}
code{
    background: #f5f2f0;
    border-radius: 2px;
    padding: 2px 4px;
    color: crimson;
}
#data-types ul {
    list-style: circle;
    padding-inline-start: 40px;
}
#data-types ul li{
    padding: 10px;
}
#data-types p {
    padding: 20px 0px 10px 0px;
}
#variables p {
    padding: 20px 0px 10px 0px;
}
#declaring_variables p{
    padding: 20px 0px 10px 0px;
}
#conditionals p {
    padding: 20px 0px 10px 0px;
}
#conditionals ul  {
    padding-inline-start: 40px;
    list-style: circle;
}
#conditionals ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}
.conditionals_code {
    line-height: 18px;
    display: inline-block;
    width: 800px;
    margin-top: 15px;
}
.arrays_code {
    width: 400px;
    display: inline-block;
    text-align: center;
    margin-top:15px;
}
.syntax {
    margin-top: 10px;
    margin-bottom: 10px;
}
.array_text {
    padding: 20px 0px 10px 0px;
}
#objects p{
    padding: 20px 0px 10px 0px;
}
.objects_code{
    width: 400px;
    display: inline-block;
    line-height: 25px;
    margin-top:15px;
}
#function_declarations ul  {
    padding-inline-start: 40px;
    list-style: circle;
}
#function_declarations ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}
#function_declarations p,code {
    margin-top:15px;
    margin-bottom: 15px;
}
#references p {
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}
@media only screen and (max-width:600px){
    #main-doc:not(h2){
        font-size: 22px;
    }
}